# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Server
PORT=4000
NODE_ENV=development

# CORS
FRONTEND_ORIGIN_LOCAL=http://localhost:5173
FRONTEND_ORIGIN_PROD=

# Rate Limit
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MS=900000
